<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.codepath.googleimagesearcher"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.codepath.googleimagesearcher.SearchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.codepath.googleimagesearcher.AdvanceSearchActivity"
            android:label="@string/title_activity_advance_search" >
        </activity>
        <activity
            android:name="edu.codepath.googleimagesearcher.DisplayImageActivity"
            android:label="@string/title_activity_display_image" >
        </activity>
        <activity
            android:name="edu.codepath.googleimagesearcher.OptionsActivity"
            android:label="@string/title_activity_options" >
        </activity>
    </application>

</manifest>
